force-app/main/default/flows/Auto_Match_Lost_and_Found_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Status_to_Potential_Match</name>
        <label>Assign Status to Potential Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Lost_Items.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Potential Match</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Lost_Items</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Auto Match Lost and Found Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Match Lost and Found Items</label>
    <loops>
        <name>Loop_through_Lost_Items</name>
        <label>Loop through Lost Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Matching_Lost_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Verification_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lost_Items_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Verification_Case</name>
        <label>Create Verification Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Status_to_Potential_Match</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Found_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Lost_Item__c</field>
            <value>
                <elementReference>Loop_through_Lost_Items.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Loop_through_Lost_Items.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Lost_Items</name>
        <label>Get Matching Lost Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Lost_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Lost__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Date_Found__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lost_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lost_Items_Status</name>
        <label>Update Lost Items Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Matching_Lost_Items</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matching_Lost_Items</targetReference>
        </connector>
        <object>Found_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
